* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background-color: wheat;
  min-height: 100vh;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}